<div style="text-align:center; margin-top:40px">

  <h1>Angular + Node Demo</h1>

  <!-- Backend test -->
  <input [(ngModel)]="nameInput" placeholder="Enter your name..." />
  <button (click)="sayHello(nameInput)">Call Node Backend</button>

  @if (message !== null && message !== '') {
    <p style="margin-top:10px; font-size:18px;">
      {{ message }}
    </p>
  }

  <hr style="margin:20px 0">

  <!-- Angular demo -->
  <input [(ngModel)]="inputText" placeholder="Type something..." />
  <button (click)="echoInput()">Show Text</button>

  @if (response) {
    <p style="margin-top:10px; font-size:18px;">
      {{ response }}
    </p>
  }

</div>
